<div class="container">
    {{ form_start(form) }}
    <div class="mx-auto" style="max-width: 400px;">
        <div class="row">
            <div class="col">

                <h6>{{ form_row(form.mois) }}</h6>

            </div>
            <div class="col">
                <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>