{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
    {#<style>#}
    {#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
    {#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
    {#</style>#}

    <div class="example-wrapper">
        <h1>Liste des FicheFrais</h1>

        {{ include('fiche_frais/_formChoice.html.twig') }}
            {% if bool == true  %}
            <div class="container">
                <div class="row">
                    <h5>Etat: {{ fichefrais.etat.libelle }}</h5>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-body bg-light">
                            <h5 class="card-title">LigneFraisForfait</h5>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <h5>Selectionner un Mois</h5>
        {% endif %}
    </div>


{% endblock %}
