{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
    {#<style>#}
    {#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
    {#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
    {#</style>#}

    <div class="example-wrapper">
        <h1>Liste des FicheFrais</h1>
        <div class="container">
            <div class="">
            {{ include('fiche_frais/_formChoice.html.twig') }}
            </div>
            {% if bool == true  %}
            <div class="row mt-3">
                <h5>Etat: {{ fichefrais.etat.libelle }}</h5>
            </div>
            <div class="row">
                <h5>Montant: {{ fichefrais.montant }}</h5>
            </div>
            <div class="row mt-5">
                <div class="card">
                    <div class="card-body bg-light">
                        <h5 class="card-title">LigneFraisForfait</h5>
                    </div>

                </div>
            </div>
            {% else %}
                <h5 class="text-center">Selectionner un Mois</h5>
        </div>



        {% endif %}
    </div>


{% endblock %}
